<html>
    <head>
        <title>theGreatNumberGame</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
     </head>
    <body>
        <div id="wrapper">
            <h1>Welcome to The Great Number Game!</h1>
            <p>I am thinking of a number between 1 - 100</p>
            {% if guess == number %}
                <div id="right">
                    <h3>{{number}} was the number!</h3>
                    <form action="/" method="get">
                        <input type="submit" value="Play Again!">
                    </form>
                </div>
            {% elif guess > number %}
                <div id="toohigh">
                    <h3>Too high!</h3>
                </div>
            {% else %}
                <div id="toolow">
                    <h3>Too low!</h3>
                </div>
            {% endif %}
            <p>Take a guess!</p>
            <form action="/guess" method="post">
                <input type="text" name="guess" id="guessit">
                <input type="submit" value="I guess">
            </form>
        </div>
        </body>

</html>