* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

#wrapper {
    width: 440px;
    border: solid 1px black;
    margin: auto;
    padding: 15px;
}

#namebox , select {
    width: 175px;
    margin-bottom: 5px;
}

#namebox {
    margin-left: 100px;
}

#sel1 {
    margin-left: 81px;
}
#sel2 {
    margin-left: 46px;
}
textarea {
    margin: 5px 0px;
}
.content {
    width: 215px;
    display: inline-block;
}
#message {
    font-weight: bold;
    text-align: center;
}
