<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/newuser" method="post">
        <input type="text" name="first_name" placeholder="first">
        <input type="text" name="last_name" placeholder="last">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="passconfirm" placeholder="confirm password">
        <input type="submit" value="Register">
    </form>
    <hr>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>