<html>
    <head>
        <title>Dojo Survey</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <div id="wrapper">
        <form action="/process" method="POST">
            Your Name: <input type="text" name="name" id="namebox">
            <br>
            Dojo Location: 
            <select name="location" id="sel1">
                <option value="Bellevue">Bellevue</option>
                <option value="San Jose">San Jose</option>
                <option value="Online">Online</option>
            </select>
            <br>
            Favorite Language: 
            <select name="favlang" id="sel2">
                <option value="Python">Python</option>
                <option value="CSS">CSS</option>
                <option value="HTML">HTML</option>
            </select>
            <br>
            Comment:
            <br>
            <textarea name="comment" id="" cols="60" rows="5"></textarea>
            <br>
            <input type="submit" value="submit">
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p id="message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</html>