<html>
    <head>
        <title>TMNT</title>
    </head>
    <body>
        {% if color == "blue" %}
            <img src="/static/images/leonardo.jpg" alt="leo">
        {% elif color == "red" %}
            <img src="/static/images/raphael.jpg" alt="raf">
        {% elif color == "orange" %}
            <img src="/static/images/michelangelo.jpg" alt="mich">
        {% elif color == "purple" %}
            <img src="/static/images/donatello.jpg" alt="don">
        {% else %}
            <img src="/static/images/notapril.jpg" alt="notapril">
        {% endif %}
    </body>
</html>