<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>==PART ONE==</h1>
		<h1>All Baseball Leagues</h1>
		<ol>
			{% for league in baseball_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Women's Leagues</h1>
		<ol>
			{% for league in womens_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All Hockey Leagues</h1>
		<ol>
			{% for league in hockey_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Non Football Leagues</h1>
		<ol>
			{% for league in non_football_league %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Conference Leagues</h1>
		<ol>
			{% for league in conference_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Atlantic Leagues</h1>
		<ol>
			{% for league in atlantic_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Dallas Teams</h1>
		<ol>
			{% for team in dallas_teams %}
				<li>{{team.team_name}}</li>
			{% empty %}
				<p>No team found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>The Rapture</h1>
		<ol>
			{% for team in raptors %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>City Teams</h1>
		<ol>
			{% for team in city_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>T Teams</h1>
		<ol>
			{% for team in t_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Alphabetic by Location</h1>
		<ol>
			{% for team in all_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Reverse Teams</h1>
		<ol>
			{% for team in reverse_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Coops</h1>
		<ol>
			{% for player in coopers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All the Joshes</h1>
		<ol>
			{% for player in joshuas %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>No Josh Coopers</h1>
		<ol>
			{% for player in no_josh_coopers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Alexander Wyatt</h1>
		<ol>
			{% for player in alexander_wyatt %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>==PART TWO==</h1>
		<h1>Atlantic Soccer Conference TEams</h1>
		<ol>
			{% for team in atlantic_soccer_teams %}
				<li>{{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Penguin Players</h1>
		<ol>
			{% for player in penguin_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>ICBC Players</h1>
		<ol>
			{% for player in icbc_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Lo Pez</h1>
		<ol>
			{% for player in lopezes %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All Football Players</h1>
		<ol>
			{% for player in all_football_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams w/ Sophias</h1>
		<ol>
			{% for player in teams_with_sophia %}
				<li>{{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Leagues w/ Sophias</h1>
		<ol>
			{% for player in teams_with_sophia %}
				<li>{{player.curr_team.league.name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>No Roughriding Flores'</h1>
		<ol>
			{% for player in smooth_flores %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>This History of Sam Evans</h1>
		<ol>
			{% for player in samuel_evans %}
				{% for team in player.all_teams.all %}
				<li>{{ team.team_name }}</li>
				{% endfor %}
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All of The Tiger Cats</h1>
		<ol>
			{% for player in all_tiger_cats %}
			  	<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Old, But Not Current Witch Vikings</h1>
		<ol>
			{% for player in some_vikings %}
			  	<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>The Dark Past of Jacob Gray</h1>
		<ol>
			{% for player in jacob_gray %}
				{% for team in player.all_teams.all %}
					{% if team.team_name != player.curr_team.team_name %}
				<li>{{ team.team_name }}</li>
					{% endif %}
				{% endfor %}
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Baseball Playing Joshua's of The Atlantic Throughout History</h1>
		<ol>
			{% for player in baseball_joshes %}
			  	<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>