* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-align: center;
}
#wrapper {
    width: 300px;
    margin: auto;
}
#right, #toohigh, #toolow {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: 30px 20px;
    margin: auto;
}
#toohigh, #toolow {
    background-color: red;
}
#right {
    background-color: green;
}
#guessit {
    width: 35px;
}