<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrapper">
        <form action="/login" method="post" class="login">
            Existing user login:<br>
            <input type="text" name="email" placeholder="Email Address"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Login">
        </form>
        <form action="/register" method="post" class="login">
            New user registration:<br>
            <input type="text" name="firstname" placeholder="First Name"><br>
            <input type="text" name="lastname" placeholder="Last Name"><br>
            <input type="text" name="email" placeholder="Email Address"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="passconfirm" placeholder="Confirm Password"><br>
            <input type="submit" value="Register">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p id="flashmessage">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
</body>
</html>