* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.flash_message {
    width: 200px;
    padding: 5px;
    text-align: center;
    border: solid 1px black;
    background-color: red;
    color: white;
    margin-top: 5px;
}
#email_success {
    width: 300px;
    padding: 5px;
    text-align: center;
    border: solid 1px black;
    background-color: green;
    color: white;
    margin-top: 5px;
}