<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new user</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'restful_users/style.css' %}">
</head>
<body>
    <h1>Add a new user</h1>
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {% endif %}
    <form action="/users/create" method="POST">
        {% csrf_token %}
        <label for="first_name">First name:</label>
        <input type="text" name="first_name"><br>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name"><br>
        <label for="email">Email:</label>
        <input type="text" name="email">
        <input type="submit" value="Create">
    </form> 
    <a href="/users">Go back</a>   
</body>
</html>