<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <h1>Random Word</h1>
        <h5>Attempt # {{ request.session.count }}</h5>
        {{ request.session.response  }}
        <form action="/generate" method="POST">
            {% csrf_token %}
            <input type="submit" value="Generate Number">
        </form>
        <form action="/random_word/reset" method="post">
            {% csrf_token %}
            <input type="submit" value="Reset Count">
        </form>
    </div>
</body>
</html>