<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Validation Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p id="email_success">The email address you entered {{session['name']}} is a VALID email address! Thank you!</p>
    <h2>Email Addresses Entered:</h2>
    <table>    
        {% for em in emails_added %}
        <tr>
            <td>{{em['email_address']}}</td>
            <td>{{em['time_added']}}</td>
            </form>
        </tr>
        {% endfor %}
    </table>        
</body>
</html>