* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#wrapper {
    width: 400px;
    margin: auto;
    padding: 5px;
}
#wrapper2 {
    width: 731px;
    margin: auto;
    padding: 5px;
}
.login {
    vertical-align: top;
    padding: 5px;
    width: 175px;
    margin: 5px;
    display: inline-block;
}
input {
    padding: 2px;
    margin: 2.5px;
}
#flashmessage {
    color: red;
    font-size: 75%;
    font-weight: bold;
}

#wallmessages {
    margin: 10px;
}
#wallcomments {
    margin-left: 20px;
}

#by {
    font-size: 60%;
}
.commentuser {
    font-size: 60%;
}
#messagecontent {
    font-weight: bold;
}
#commentcontent, #commentuser {
    margin-bottom: 2px;
}
#comment_button {
    background-color: green;
}
#message_button {
    background-color: blue;
}
#comment_button, #message_button {
    color: white;
    padding: 3px;
}

