* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;    
}
.locs {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    border: 1px solid gray;
    padding: 10px;
    background-color: gray;
}
h2 {
    text-align: center;
    color: gold;
}
#wrapper {
    width: 970px;
    margin: auto;
    border: solid 1px chocolate;
    padding: 10px;
    background-color: gold;
}
#activities {
    width: 730px;
    margin: auto;
    border: solid 1px black;
}
.locs p {
    text-align: center;
    margin-top: 5px;
}
input {
    background-color: gold;
    padding: 5px;
    margin: 22px 63px;
}