<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>User {{friends[0]['id']}}</h1>
    <p><span class="bold">Full Name:</span> {{friends[0]['fullname']}}</p>
    <p><span class="bold">Occupation:</span> {{friends[0]['occupation']}}</p>
    <p><span class="bold">Created at:</span> {{friends[0]['createdate']}}</p>
    <p><span class="bold">Last update:</span> {{friends[0]['updated_at']}}</p>
    <br>
    <a href="/users/{{friends[0]['id']}}/edit">edit</a>
    <a href="/users/{{friends[0]['id']}}/destroy">delete</a>
</body>
</html>



